RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.eticaret2.net$ [NC]
RewriteRule ^(.*)$ http://www.eticaret2.net/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|fonts|java|resimler)
#RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteRule ^(.*)$ index.php/$1 [PT,L]